---
import HtmlIcon from "./icons/HtmlIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import SassIcon from "./icons/SassIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import PhpIcon from "./icons/PhpIcon.astro";
import LaravelIcon from "./icons/LaravelIcon.astro";
import NextIcon from "./icons/NextIcon.astro";
import ViewIcon from "./icons/ViewIcon.astro";

const TAGS = {
	HTML: {
		name: "HTML",
		color: "bg-red-500 text-white",
		icon: HtmlIcon,
	},
	CSS: {
		name: "CSS",
		color: "bg-blue-500 text-white",
		icon: CssIcon,
	},
	JAVASCRIPT: {
		name: "JavaScript",
		color: "bg-yellow-500 text-black",
		icon: JavaScriptIcon,
	},
	SASS: {
		name: "SASS",
		color: "bg-pink-500 text-white",
		icon: SassIcon,
	},
	TAILWINDCSS: {
		name: "TailwindCSS",
		color: "bg-cyan-500 text-white",
		icon: TailwindIcon,
	},
	PHP: {
		name: "PHP",
		color: "bg-blue-500 text-white",
		icon: PhpIcon,
	},
	LARAVEL: {
		name: "Laravel",
		color: "bg-red-500 text-white",
		icon: LaravelIcon,
	},
	NEXT: {
		name: "Next.js",
		color: "bg-black text-white",
		icon: NextIcon,
	},
};

const PROJECTS = [
	{
		title: "Abglac",
		description:
			"Sitio web de alquiler de autos con sistema de reservas y pagos online. Desarrollado con Laravel y TailwindCSS. En este proyecto, desempeñé el rol de Desarrollador Frontend en greenFlame, utilizando metodologías ágiles. Trabajé en el desarrollo del Frontend y algunas vistas del Backoffice, asegurando una experiencia de usuario fluida y moderna.",
		image: "/images/abg-lac.webp",
		link: "https://abglac.com/",
		// github: "https://github.com",
		tags: [
			TAGS.HTML,
			TAGS.CSS,
			TAGS.SASS,
			TAGS.TAILWINDCSS,
			TAGS.JAVASCRIPT,
			TAGS.PHP,
		],
	},
	{
		title: "eTravelCars",
		description:
			"Sitio web de alquiler de autos con sistema de reservas y pagos online. Desarrollado con Laravel y TailwindCSS. Como Desarrollador Frontend en greenFlame, implementé interfaces de usuario responsivas y accesibles utilizando Livewire. Utilicé Tailwind CSS para el diseño y estilizado, garantizando consistencia y rapidez en la maquetación. Creé componentes reutilizables y dinámicos para la gestión de la interfaz de usuario, además de trabajar en el maquetado de emails y documentos PDF relacionados con las reservas.",
		image: "/images/e-travel-cars.webp",
		link: "https://etravelcars.com/",
		// github: "https://github.com",
		tags: [
			TAGS.HTML,
			TAGS.CSS,
			TAGS.SASS,
			TAGS.TAILWINDCSS,
			TAGS.JAVASCRIPT,
			TAGS.PHP,
		],
	},
	{
		title: "Autorenta",
		description:
			"Sitio web de alquiler de autos con sistema de reservas y pagos online. Desarrollado con Laravel y TailwindCSS. En este proyecto, como Desarrollador Frontend en greenFlame, utilicé metodologías ágiles para trabajar en equipo. Implementé interfaces de usuario responsivas y accesibles utilizando Livewire y Tailwind CSS. Creé componentes reutilizables y trabajé en el maquetado de emails y documentos PDF para las reservas, asegurando una experiencia de usuario moderna y fluida.",
		image: "/images/auto-renta.webp",
		link: "https://autorenta.com/",
		// github: "https://github.com",
		tags: [
			TAGS.HTML,
			TAGS.CSS,
			TAGS.SASS,
			TAGS.TAILWINDCSS,
			TAGS.JAVASCRIPT,
			TAGS.PHP,
		],
	},
];
---

{
	PROJECTS.map((project) => (
		<article class='mt-6'>
			<h3 class='text-xl font-semibold text-violet-400/90 mb-2'>
				{project.title}
			</h3>
			<p class='text-lg mb-4 text-pretty text-gray-400 dark:text-gray-400'>{project.description}</p>
			<ul class='flex flex-wrap items-center gap-2 md:gap-4'>
				{project.tags.map((tag) => (
					<li>
						<span class='flex items-center justify-center gap-2 rounded-xl text-xs py-1 px-2 border border-violet-400/90'>
							<tag.icon class='size-4 flex-shrink-0' />
							<span class='text-white'>{tag.name}</span>
						</span>
					</li>
				))}
				<li>
					<span>
						<a
							href={project.link}
							target='_blank'
							rel='noopener'
							class='flex items-center justify-center gap-2 rounded-xl text-xs py-1 px-2 border border-violet-400/90'
						>
							<span class='text-white'>Ver proyecto</span>
							<ViewIcon class='size-4' />
						</a>
					</span>
				</li>
			</ul>
			<img
				class='rounded shadow-2xl shadow-white/10 mt-4'
				src={project.image}
				alt={project.title}
				width="896"
				height="504"
			/>
		</article>
	))
}
